In [92]:
import pandas as pd
import numpy as np

In [93]:
#df=pd.read_csv('countries_of_the_world.csv')
census=pd.read_csv('adult.csv')

In [94]:
census.shape

(48842, 15)

In [140]:
census.head(5)

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,...,marital-status_Married-spouse-absent,marital-status_Never-married,marital-status_Separated,marital-status_Widowed,marital-status_nan,race_Amer-Indian-Eskimo,race_Asian-Pac-Islander,race_Black,race_Other,race_White
0,25.0,Private,NaN,11th,7.0,Never-married,Machine-op-inspct,Own-child,Black,1,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,38.0,Private,NaN,HS-grad,9.0,Married-civ-spouse,Farming-fishing,Husband,White,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,28.0,Local-gov,NaN,Assoc-acdm,12.0,Married-civ-spouse,Protective-serv,Husband,White,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,44.0,Private,NaN,Some-college,10.0,Married-civ-spouse,Machine-op-inspct,Husband,Black,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,18.0,?,NaN,Some-college,10.0,Never-married,?,Own-child,White,0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [96]:
census.isnull().sum()

age                 7
workclass           0
fnlwgt              0
education           0
educational-num     0
marital-status     10
occupation          0
relationship        0
race                8
gender              7
capital-gain        0
capital-loss        0
hours-per-week     12
native-country      0
income              0
dtype: int64

In [97]:
census.dtypes

age                float64
workclass           object
fnlwgt               int64
education           object
educational-num      int64
marital-status      object
occupation          object
relationship        object
race                object
gender              object
capital-gain         int64
capital-loss         int64
hours-per-week     float64
native-country      object
income              object
dtype: object

In [98]:
#exclude data with NA
hoursperweekNew = census[~census['hours-per-week'].isnull()]

In [99]:
hoursperweekNew.shape

(48830, 15)

In [100]:
# We have dropped the rows where age and sex columns are NaN. axis=0 specifies the rows.
census = census.dropna(axis = 0,subset = ['gender','age'])

In [101]:
census.shape

(48828, 15)

In [102]:
#inputing missing age with mean
census['age'] = census['age'].fillna(census['age'].mean())

In [103]:
#inputing  missing hours-per-week with mode
census['hours-per-week'] = census['hours-per-week'].fillna(census['hours-per-week'].mode()[0])

In [104]:
census['hours-per-week'].mode()

0    40.0
Name: hours-per-week, dtype: float64

In [105]:
#you can fill missing values with some other values 
census['race'] = census['race'].fillna('Other')

In [106]:
census.race.value_counts()

race
White                 41748
Black                  4683
Asian-Pac-Islander     1518
Amer-Indian-Eskimo      470
Other                   409
Name: count, dtype: int64

In [107]:
#Label Encoder

In [137]:
from sklearn.preprocessing import LabelEncoder
l1 = LabelEncoder()
l1.fit(census['gender'])
census.gender = l1.transform(census.gender)
from sklearn.preprocessing import OneHotEncoder

encoder = OneHotEncoder()
census_encoded = encoder.fit_transform(census[['marital-status', 'race']])

In [138]:
census.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,...,marital-status_Married-spouse-absent,marital-status_Never-married,marital-status_Separated,marital-status_Widowed,marital-status_nan,race_Amer-Indian-Eskimo,race_Asian-Pac-Islander,race_Black,race_Other,race_White
0,25.0,Private,NaN,11th,7.0,Never-married,Machine-op-inspct,Own-child,Black,1,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,38.0,Private,NaN,HS-grad,9.0,Married-civ-spouse,Farming-fishing,Husband,White,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,28.0,Local-gov,NaN,Assoc-acdm,12.0,Married-civ-spouse,Protective-serv,Husband,White,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,44.0,Private,NaN,Some-college,10.0,Married-civ-spouse,Machine-op-inspct,Husband,Black,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,18.0,?,NaN,Some-college,10.0,Never-married,?,Own-child,White,0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [110]:
#Data preparation using PneHotEncoder
#In OneHotEncoder we make a new column for each unique categorical value, and the value is 1 for that column, 
#if in an actual data frame that value is there, else it is 0

In [141]:
from sklearn.preprocessing import LabelEncoder

In [142]:
encoder = OneHotEncoder()
censusnew = encoder.fit_transform(census[['marital-status','race']])

In [143]:
column_name=encoder.get_feature_names_out(['marital-status','race'])

In [144]:
one_hot_encoded_frame = pd.DataFrame.sparse.from_spmatrix(censusnew, columns=column_name)

In [145]:
#one_hot_encoded_frame

In [116]:
census=pd.concat([census, one_hot_encoded_frame], axis=1)

In [146]:
census.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,...,marital-status_Married-spouse-absent,marital-status_Never-married,marital-status_Separated,marital-status_Widowed,marital-status_nan,race_Amer-Indian-Eskimo,race_Asian-Pac-Islander,race_Black,race_Other,race_White
0,25.0,Private,NaN,11th,7.0,Never-married,Machine-op-inspct,Own-child,Black,1,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,38.0,Private,NaN,HS-grad,9.0,Married-civ-spouse,Farming-fishing,Husband,White,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,28.0,Local-gov,NaN,Assoc-acdm,12.0,Married-civ-spouse,Protective-serv,Husband,White,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,44.0,Private,NaN,Some-college,10.0,Married-civ-spouse,Machine-op-inspct,Husband,Black,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,18.0,?,NaN,Some-college,10.0,Never-married,?,Own-child,White,0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [118]:
...
;;;

#Normalization
..
..
..

SyntaxError: invalid syntax (1700450822.py, line 5)

In [119]:
from sklearn.preprocessing import Normalizer
from sklearn import preprocessing
from sklearn.preprocessing import MinMaxScaler

In [120]:

#1. MinMaxScaler()
#impoty the  MinMaxScaler function

In [121]:
#X_std = (X - X.min(axis=0)) / (X.max(axis=0) - X.min(axis=0))
#X_scaled = X_std * (max - min) + min

colnames = ['fnlwgt','hours-per-week']

In [122]:
min_max = preprocessing.MinMaxScaler()
census[colnames] = min_max.fit_transform(census[colnames])

In [123]:
#census.head()

In [124]:
#2. Normalize using the z-score
#import zscore model
from scipy.stats import zscore

In [125]:
#Select the columns you want to normalize
cols=['fnlwgt','hours-per-week']

In [126]:
census[colnames]=zscore(census[colnames])

In [127]:
#census.head()

In [128]:
#3. Normalize using the standard scaler model
#import the  StandardScaler 

from sklearn.preprocessing import StandardScaler

In [129]:
scaler = StandardScaler()

In [130]:
# transform data
census[colnames] = scaler.fit_transform(census[colnames])

C:\Users\Biruk\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\utils\extmath.py:1050: RuntimeWarning: invalid value encountered in divide
  updated_mean = (last_sum + new_sum) / updated_sample_count
C:\Users\Biruk\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\utils\extmath.py:1055: RuntimeWarning: invalid value encountered in divide
  T = new_sum / new_sample_count
C:\Users\Biruk\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\utils\extmath.py:1075: RuntimeWarning: invalid value encountered in divide
  new_unnormalized_variance -= correction**2 / new_sample_count

In [147]:
census.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,...,marital-status_Married-spouse-absent,marital-status_Never-married,marital-status_Separated,marital-status_Widowed,marital-status_nan,race_Amer-Indian-Eskimo,race_Asian-Pac-Islander,race_Black,race_Other,race_White
0,25.0,Private,NaN,11th,7.0,Never-married,Machine-op-inspct,Own-child,Black,1,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,38.0,Private,NaN,HS-grad,9.0,Married-civ-spouse,Farming-fishing,Husband,White,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,28.0,Local-gov,NaN,Assoc-acdm,12.0,Married-civ-spouse,Protective-serv,Husband,White,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,44.0,Private,NaN,Some-college,10.0,Married-civ-spouse,Machine-op-inspct,Husband,Black,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,18.0,?,NaN,Some-college,10.0,Never-married,?,Own-child,White,0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [132]:
#exercise
#Read how the following is calculated
1.how z-zcore()
2.MinMaxScaler()
3.StandardScaler()
4.Logscale()

SyntaxError: invalid decimal literal (1168981115.py, line 3)

In [148]:
census.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'educational-num',
       'marital-status', 'occupation', 'relationship', 'race', 'gender',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'income', 'marital-status_Divorced', 'marital-status_Married-AF-spouse',
       'marital-status_Married-civ-spouse',
       'marital-status_Married-spouse-absent', 'marital-status_Never-married',
       'marital-status_Separated', 'marital-status_Widowed',
       'marital-status_nan', 'race_Amer-Indian-Eskimo',
       'race_Asian-Pac-Islander', 'race_Black', 'race_Other', 'race_White'],
      dtype='object')